{% comment %}
** Image with text - dynamic **
- Draggable section
{% endcomment %}

{% comment %} Assign object as block or section {% endcomment %}
{% if type == 'block' %}
  {%- assign object = block -%}
{% else %}
  {%- assign object = section -%}
{% endif %}

{% comment %} Content settings {% endcomment %}
{%- assign image1 = object.settings.image1 -%}
{%- assign image2 = object.settings.image2 -%}
{%- assign text = object.settings.text -%}
{%- assign title = object.settings.title -%}
{%- assign button_label = object.settings.button_label -%}
{%- assign button_link = object.settings.button_link -%}
{% comment %} End content settings {% endcomment %}

<section class="section">
  <div class="container text-align-{{ object.settings.text_alignment }}">
    {% capture image_layout %}
      <div class="image-with-text__image-column one-half column medium-down--one-whole {% if object.settings.layout == 'left' %}animate_left{% else %}animate_right{% endif %}">
        <a {% if button_link != blank %}href="{{ button_link }}"{% endif %} title="{{ title | escape }}">
          {% if image1 != blank %}
            {% render 'image-element',
                    image: image1,
                    alt: image1.alt,
                    additional_classes: 'our_story_image1'
            %}
          	{% render 'image-element',
                    image: image2,
                    alt: image2.alt,
          			additional_classes: 'our_story_image2 is-hidden-mobile-only'
            %}
          {% else %}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
        </a>
      </div>
    {% endcapture %}

    {% if object.settings.layout == 'left' %}
      {{ image_layout }}
    {% endif %}

    <div class="image-with-text__text-column one-half column medium-down--one-whole">
      <div class="image-with-text__wrapper">
        {% if title != blank %}
          <h1 class="our_story_title title">{{ title | escape }}</h1>
        {% endif %}

        {% if text != blank %}
          {{ text }}
        {% endif %}

        {% if button_label != blank %}
          <a {% if button_link != blank %}href="{{ button_link }}"{% endif %} class="action_button">{{ button_label | escape }}</a>
        {% endif %}
      </div>
    </div>

    {% if object.settings.layout == 'right' %}
      {{ image_layout }}
    {% endif %}
  </div>
</section>
