<!DOCTYPE html>
<html lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="cleartype" content="on">
  <meta name="robots" content="index,follow">

  <title>{{ shop.name }} &ndash; {{ 'general.password_page.opening_soon' | t }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}"/>
  {% endif %}

  {% render 'social-meta-info' %}

  <!-- Mobile Specific Metas -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.shop_bg_color }}">

  <!-- Preconnect Domains -->
  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <link rel="preconnect" href="https://fonts.shopify.com" crossorigin>
  <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">

  <!-- Preload Assets -->
  <link rel="preload" href="{{ 'styles.css' | asset_url }}" as="style">

  <!-- Stylesheets for Parallax 4.1.1 -->
  {{ 'styles.css' | asset_url | stylesheet_tag }}

  {% if settings.favicon != nil %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ settings.favicon | img_url: '32x32' }}">
  {% else %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.png' | asset_url }}">
  {% endif %}

  <link rel="canonical" href="{{ canonical_url }}"/>

  <script>
    {% render 'js-variables' %}
  </script>

  <script src="{{ 'app.js' | asset_url }}" defer></script>

  <!--[if lte IE 8]>
    {{ 'ie.css' | asset_url | stylesheet_tag }}
    {{ 'skrollr.ie.js' | asset_url | script_tag }}
  <![endif]-->

  {{ content_for_header }}
</head>

<body id="password-page-bg">
  {{ content_for_layout }}
</body>

</html>
