<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "{{ shop.name }}",
    {% if section.settings.logo %}
      {% assign image_size = section.settings.logo.width | append:'x' %}
      "logo": "https:{{ section.settings.logo | img_url: image_size }}",
    {% endif %}
    "sameAs": [
      "{{ settings.twitter_link }}",
      "{{ settings.facebook_link }}",
      "{{ settings.pinterest_link }}",
      "{{ settings.instagram_link }}",
      "{{ settings.tumblr_link }}",
      "{{ settings.snapchat_link }}",
      "{{ settings.youtube_link }}",
      "{{ settings.vimeo_link }}"
    ],
    "url": "{{ shop.url }}{{ page.url }}"
  }
</script>

 {% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ routes.search_url }}?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}

{%- assign locale_selector = false -%}
{%- assign currency_selector = false -%}

{%- if section.settings.show_currency_selector == true and shop.enabled_currencies.size > 1 -%}
  {%- assign currency_selector = true -%}
{%- endif -%}

{%- if section.settings.show_locale_selector == true and shop.published_locales.size > 1 -%}
  {%- assign locale_selector = true -%}
{%- endif -%}

{% if section.settings.promo_text != blank and section.settings.show_announcement %}
  {% if section.settings.promo_home_page and template.name == 'index' %}
    <div class="promo-banner js-promo_banner--index sticky-promo--{{ section.settings.fixed_header }}">
      {% if section.settings.announcement_link %}
        <a class="promo-banner__link" href="{{ section.settings.announcement_link }}">
      {% endif %}

      <p class="promo-banner__text">{{ section.settings.promo_text }}</p>

      {% if section.settings.announcement_link %}
        </a>
      {% endif %}

      <button class="promo-banner__close icon-close"></button>
    </div>
  {% elsif section.settings.promo_home_page == false %}
    <div class="promo-banner js-promo_banner--global sticky-promo--{{ section.settings.fixed_header }}">
      {% if section.settings.announcement_link %}
        <a class="promo-banner__link" href="{{ section.settings.announcement_link }}">
      {% endif %}

      <p class="promo-banner__text">{{ section.settings.promo_text }}</p>

      {% if section.settings.announcement_link %}
        </a>
      {% endif %}

      <button class="promo-banner__close icon-close"></button>
    </div>
  {% endif %}
{% endif %}

<div id="header" class="mm-fixed-top Fixed mobile-header mobile-sticky-header--{{ section.settings.fixed_header }}" data-search-enabled="{{ section.settings.search_enabled }}">
  <a href="#nav" class="icon-menu" aria-haspopup="true" aria-label="{{ 'layout.general.menu' | t }}"><span>{{ 'layout.general.menu' | t }}</span></a>
  <a href="{{ shop.url }}" title="{{ shop.name }}" class="mobile_logo logo">
    {% if section.settings.logo_mobile != blank %}
      {% render 'image-element',
              image: section.settings.logo_mobile,
              alt: shop.name,
              back_to_basics: true
      %}
    {% elsif section.settings.logo != blank %}
      {% render 'image-element',
              image: section.settings.logo,
              alt: shop.name,
              back_to_basics: true
      %}
    {% else %}
      {{ shop.name }}
    {% endif %}
  </a>
  <a href="#cart" class="icon-cart cart-button right"><span>{{ cart.item_count }}</span></a>
</div>

<div class="hidden">
  <div id="nav">
    <ul>
      {% for link in linklists[section.settings.main_linklist].links %}
        {% if link.links == blank %}
          <li {% if link.active %}class="Selected"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% else %}
          <li {% if link.active %}class="Selected"{% endif %}>
            {% if link.url == 'http://' or link.url == '' or link.url == '/' or link.url == 'https://' or link.url == '#' %}
              <span>{{ link.title }}</span>
            {% else %}
              <a href="{{ link.url }}">{{ link.title }}</a>
            {% endif %}
            <ul>
              {% for sub_link in link.links %}
                {% if sub_link.links == blank %}
                  <li {% if sub_link.active %}class="Selected"{% endif %}><a href="{{ sub_link.url }}">{{ sub_link.title }}</a></li>
                {% else %}
                <li {% if sub_link.active %}class="Selected"{% endif %}>
                  {% if sub_link.url == 'http://' or sub_link.url == '' or sub_link.url == '/' or sub_link.url == 'https://' or sub_link.url == '#' %}
                    <span>{{ sub_link.title }}</span>
                  {% else %}
                    <a href="{{ sub_link.url }}">{{ sub_link.title }}</a>
                  {% endif %}
                  <ul>
                    {% for sub_sub_link in sub_link.links %}
                      <li {% if sub_sub_link.active %}class="Selected"{% endif %}><a href="{{ sub_sub_link.url }}">{{ sub_sub_link.title }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>
        {% endif %}
      {% endfor %}
      {% if shop.customer_accounts_enabled %}
        {% if customer %}
          <li>
            <a href="{{ routes.account_url }}" data-no-instant>{{ customer.name }}</a>
          </li>
          <li>
            <a href="{{ routes.account_logout_url }}" id="customer_logout_link" data-no-instant>{{ 'layout.customer.log_out' | t }}</a>
          </li>
        {% else %}
          <li>
            <a href="{{ routes.account_login_url }}" id="customer_login_link" data-no-instant>{{ 'layout.customer.log_in' | t }}</a>
          </li>
        {% endif %}
      {% endif %}

      {% if currency_selector == true or locale_selector == true %}
        {% render 'localization-switcher-mobile',
                additional_classes: 'mobile-menu__disclosure',
                currency_selector: currency_selector,
                locale_selector: locale_selector
        %}
      {% endif %}

      <div class="social-links-container">
        {% render 'social-icons' %}
      </div>
    </ul>
  </div>

  {%- assign checkout_url = '/checkout' -%}

  {% for locale in shop.enabled_locales %}
    {% if locale.primary == true %}
      {%- assign defaultLocale = locale.iso_code -%}

      {% if defaultLocale != request.locale.iso_code %}
        {%- assign checkout_url = request.locale.iso_code | prepend: '/' | append: '/checkout' -%}
      {% endif %}
    {% endif %}
  {% endfor %}

  <form action="{{ checkout_url }}" method="post" id="cart" class="side-cart-position--{{ settings.side_cart_position }}">
    <ul data-money-format="{{ shop.money_format | strip_html }}" data-shop-currency="{{ shop.currency }}" data-shop-name="{{ shop.name | escape }}">
      <li class="mm-subtitle">
        <a class="continue ss-icon" href="#cart">
          <span class="icon-close"></span>
        </a>
      </li>

      {% if cart.item_count == 0 %}
        <li class="empty_cart">{{ 'layout.general.empty_cart' | t }}</li>
      {% else %}
        {% for item in cart.items %}
          <li>
            <a href="{{ item.url }}" class="cart__item {% if forloop.last %}last_cart_item{% endif %}">
              {% if item.image %}
                <div class="cart__image">
                  {% render 'image-element',
                          image: item.image,
                          alt: item.title
                  %}
                </div>
              {% endif %}

              <div class="cart__info">

                <div class="cart__description">
                  {{ item.product.title }}

                  {% unless item.product.has_only_default_variant or item.variant.title contains "Title" %}
                    {% for option in item.product.options %}
                      {% if forloop.first %}- {% endif %}{{ item.variant.options[forloop.index0] }} {% unless forloop.last %}/{% endunless %}
                    {% endfor %}
                  {% endunless %}

                  {% if item.properties %}
                    {% for p in item.properties %}
                      {% if p.last != blank %}
                        <div class="line-item">
                          {{ p.first }}: {{ p.last }}
                        </div>
                      {% endif %}
                    {% endfor %}
                  {% endif %}

                  <div class="cart__price">
                    {% if item.line_level_discount_allocations.size > 0 %}
                      <span class="money">
                        {% render 'price-element', price: item.line_price %}
                      </span>
                    {% endif %}

                    <span class="money {% if item.line_level_discount_allocations.size > 0 %}was_price{% endif %}">
                      {% render 'price-element', price: item.price %}
                    </span>

                    {% if item.line_level_discount_allocations.size > 0 %}
                      {% for discount_allocation in item.line_level_discount_allocations %}
                        <span class="notification-discount">
                          <strong>{{ 'cart.general.discount' | t }}:</strong> {{ discount_allocation.discount_application.title }} (- <span class="money">{% render 'price-element', price: discount_allocation.amount %}</span>)
                        </span>
                      {% endfor %}
                    {% endif %}
                  </div>
                </div>

                <div class="cart__quantity">
                  <span class="icon-minus minus"></span>
                  <input type="number" min="0" class="quantity" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" data-line-id="{{ forloop.index }}" />
                  <span class="icon-plus plus"></span>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}
        {% if cart.cart_level_discount_applications != blank %}
          <li class="mm-label">
           {% for discount_application in cart.cart_level_discount_applications %}
             <p class="mm-counter price mm-discount-label">{{ discount_application.title }} <span>(- <span class="money">{% render 'price-element', price: discount_application.total_allocated_amount %}</span>)</span></p>
           {% endfor %}
          </li>
        {% endif %}

        <li class="mm-label">
          <a href="{{ routes.cart_url }}" class="cart__item-subtotal">
            <strong>
              {{ 'layout.general.subtotal' | t }}
            </strong>
            <span class="mm-counter price">
              <span class="money">
                {% render 'price-element', price: cart.total_price %}
              </span>
            </span>
          </a>
        </li>

        <li class="mm-subtitle">
          {% if settings.display_special_instructions %}
            <textarea id="cart-note" name="note" placeholder="{{ 'layout.general.cart_note' | t }}">{{ cart.note }}</textarea>
          {% endif %}

          {% if settings.display_tos_checkbox %}
            <aside class="tos tos_checkbox">
              <input type="checkbox" class="tos_agree" id="sliding_agree" required />
              <label class="tos_label" for="sliding_agree">
                {{ settings.tos_richtext }}
              </label>
            </aside>
          {% endif %}

          <span class="mm-action_buttons">
          {% if settings.display_view_cart %}
          	<a href="{{ routes.cart_url }}" class="action_button edit_cart left">{{ 'layout.general.edit_cart' | t }}</a>
          {% endif %}
          <input type="submit" class="action_button {% if settings.display_view_cart or settings.side_cart_position == "bottom" %}left{% else %}full-width{% endif %}" value="{{ 'layout.general.checkout' | t }}" />
          </span>
        </li>
      {% endif %}
    </ul>
  </form>
</div>

{% if template contains "index" %}
  {%- assign feature_image = true -%}
{% elsif template contains "collection" %}
  {%- assign feature_image = true -%}
{% elsif template contains "blog" %}
  {%- assign feature_image = true -%}
{% elsif template contains "article" %}
  {%- assign feature_image = true -%}
{% elsif template contains "contact" %}
  {%- assign feature_image = true -%}
{% else %}
  {%- assign feature_image = false -%}
{% endif %}

{%- assign locale_selector = false -%}
{%- assign currency_selector = false -%}

{%- if section.settings.show_currency_selector and shop.enabled_currencies.size > 1 -%}
  {%- assign currency_selector = true -%}
{%- endif -%}

{%- if section.settings.show_locale_selector and shop.published_locales.size > 1 -%}
  {%- assign locale_selector = true -%}
{%- endif -%}

<div class="header
            header-dropdown-position--{{ section.settings.dropdown_position }}
            header-background--{{ settings.header_background }}
            header-transparency--{{ settings.transparent_header }}
            header-text-shadow--{{ settings.header_text_shadow }}
            sticky-header--{{ section.settings.fixed_header }}
            {% if section.settings.fixed_header %}
              mm-fixed-top
            {% else %}
              is-absolute
            {% endif %}
            {% if feature_image %}
              is-absolute
            {% endif %}
            {% if template contains 'index' %}
              animated fadeIn
            {% endif %}
            {% if settings.header_background %}
              header_bar
            {% elsif feature_image %}
              header_bar
            {% endif %}"
            data-dropdown-position="{{ section.settings.dropdown_position }}">

  <section class="section">
    <div class="container dropdown__wrapper">
      <div class="one-sixth column logo {% if section.settings.logo != blank and section.settings.logo_home != blank %}secondary-logo--true{% endif %}">
        <a href="{{ routes.root_url }}" title="{{ shop.name }}">
          {% if section.settings.logo != blank or section.settings.logo_home != blank %}
            {% if section.settings.logo != blank %}
              {% render 'image-element',
                      image: section.settings.logo,
                      alt: shop.name,
                      additional_classes: 'primary_logo'
              %}

              {% if section.settings.logo_home != blank %}
                {% render 'image-element',
                        image: section.settings.logo_home,
                        alt: shop.name,
                        additional_classes: 'secondary_logo'
                %}
              {% endif %}
            {% else %}
              {% render 'image-element',
                      image: section.settings.logo_home,
                      alt: shop.name,
                      additional_classes: 'primary_logo'
              %}
            {% endif %}
          {% else %}
            {{ shop.name }}
          {% endif %}
        </a>
      </div>

      <div class="five-sixths columns nav mobile_hidden">
        <ul class="header__navigation menu {{ section.settings.menu_alignment }}" role="navigation" data-header-navigation>
          {%- assign main_menu = linklists[section.settings.main_linklist] -%}

          {% for link in main_menu.links %}
            {% if linklists[link.handle] == empty %}
              <li class="header__nav-item" data-header-nav-item>
                <a href="{{ link.url }}" class="top-link {% if link.active %}active{% endif %}">{{ link.title }}</a>
              </li>
            {% else %}
              {%- assign column_threshold = section.settings.dropdown_column_links -%}
              {%- assign count = 0 -%}
              {%- assign split = false -%}

              {% for sub_link in link.links %}
                {%- assign count = count | plus: 1 -%}
              {% for sub_sub_link in sub_link.links %}
                {%- assign count = count | plus: 1 -%}
              {% endfor %}
            {% endfor %}

            <li class="header__nav-item sub-menu" aria-haspopup="true" aria-expanded="false" data-header-nav-item>
              <a href="{{ link.url }}" class="dropdown-link {% if link.active or link.child_active %}active{% endif %}">{{ link.title }}
                <span class="icon-arrow-down"></span></a>
                <div class="dropdown animated fadeIn {% if count > column_threshold %}dropdown-wide {% if forloop.last %}dropdown-left{% endif %}{% endif %}">
                  <div class="dropdown-links">
                    <ul>
                      {%- assign count = 0 -%}
                      {%- assign split = false -%}

                      {% for sub_link in link.links %}
                        {%- assign count = count | plus: 1 -%}

                        <li><a href="{{ sub_link.url }}">{{ sub_link.title }}</a></li>

                        {% for sub_sub_link in sub_link.links %}
                          {%- assign count = count | plus: 1 -%}

                          <li>
                            <a class="sub-link" href="{{ sub_sub_link.url }}">{{ sub_sub_link.title }}</a>
                          </li>
                        {% endfor %}

                        {% if count >= column_threshold and split == false %}
                          {%- assign split = true -%}
                          </ul>
                          <ul>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </li>
            {% endif %}
          {% endfor %}
        </ul>

        <ul class="header__secondary-navigation menu right" data-header-secondary-navigation>
          {% if currency_selector == true or locale_selector == true %}
            <li class="currencies">
              {% render 'localization-switcher',
                      additional_classes: 'header-menu__disclosure',
                      id: 'header__selector-form',
                      currency_selector: currency_selector,
                      locale_selector: locale_selector
              %}
            </li>
          {% endif %}

          {% if shop.customer_accounts_enabled %}
            <li class="header-account">
              <a href="{{ routes.account_url }}" title="{{ 'layout.customer.my_account' | t }} {% if customer %}({{ customer.email }}){% endif %}">{% if customer %}{{ 'layout.customer.my_account' | t }}{% else %}<span class="icon-user-icon"></span>{% endif %}</a>
            </li>
          {% endif %}

          {% if section.settings.search_enabled %}
            <li class="search">
              <a href="{{ routes.search_url }}" title="{{ 'general.search.title' | t }}" id="search-toggle"><span class="icon-search"></span></a>
            </li>
          {% endif %}

          <li class="cart">
            <a href="#cart" class="icon-cart cart-button"><span>{{ cart.item_count }}</span></a>
            <a href="{{ routes.cart_url }}" class="icon-cart cart-button no-js-only"><span>{{ cart.item_count }}</span></a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>

<style>
  .promo-banner {
    background-color: {{ section.settings.announcement_bg_color }};
    color: {{ section.settings.announcement_text_color }};
  }

  .promo-banner a,
  .promo-banner__close {
    color: {{ section.settings.announcement_text_color }};
  }

  div.logo img {
    width: {{ section.settings.logo_width }}px;
    max-width: 100%;
    max-height: 200px;
    display: block;
  }

  .header div.logo a {
    padding-top: {{ section.settings.logo_top_padding }}px;
    padding-bottom: {{ section.settings.logo_top_padding }}px;
  }

  {% if section.settings.menu_top_padding %}
    .nav ul.menu {
      padding-top: {{ section.settings.menu_top_padding }}px;
    }
  {% endif %}

  div.content,
  .shopify-policy__container,
  .shopify-email-marketing-confirmation__container {
    padding: {{ section.settings.content_top_padding }}px 0px 0px 0px;
  }

  @media only screen and (max-width: 798px) {
    div.content,
    .shopify-policy__container,
    .shopify-email-marketing-confirmation__container {
      padding-top: 20px;
    }
  }

  {% unless section.settings.search_enabled %}
    #nav .mm-panels > .mm-panel > .mm-navbar + .mm-listview {
      margin-top: 50px;
    }
  {% endunless %}
</style>

{% schema %}
  {
    "name": "Header",
    "class": "shopify-section--header",
    "settings": [
      {
        "type": "checkbox",
        "id": "fixed_header",
        "label": "Enable fixed ('sticky') header",
        "default": true
      },
      {
        "type": "range",
        "id": "content_top_padding",
        "label": "Content area top padding",
        "info": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/115006910627)",
        "min": 50,
        "max": 300,
        "step": 5,
        "default": 150,
        "unit": "px"
      },
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "show_announcement",
        "label": "Show announcement"
      },
      {
        "type": "checkbox",
        "id": "promo_home_page",
        "label": "Home page only"
      },
      {
        "type": "text",
        "id": "promo_text",
        "label": "Text"
      },
      {
        "type": "url",
        "id": "announcement_link",
        "label": "Link"
      },
      {
        "type": "color",
        "id": "announcement_bg_color",
        "label": "Bar",
        "default": "#1b1f23"
      },
      {
        "type": "color",
        "id": "announcement_text_color",
        "label": "Text",
        "default": "#6b6b6b"
      },
      {
        "type": "header",
        "content": "Logo"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo",
        "info": "410px wide recommended"
      },
      {
        "type": "image_picker",
        "id": "logo_home",
        "label": "Secondary logo over content (optional)",
        "info": "410px wide recommended"
      },
      {
        "type": "image_picker",
        "id": "logo_mobile",
        "label": "Mobile logo (optional)",
        "info": "410px wide recommended"
      },
      {
        "type": "range",
        "id": "logo_width",
        "label": "Logo display width",
        "step": 5,
        "min": 105,
        "max": 205,
        "default": 205,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "logo_top_padding",
        "label": "Logo top padding",
        "info": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/115006910627)",
        "min": 0,
        "max": 30,
        "default": 5,
        "unit": "px"
      },
      {
        "type": "header",
        "content": "Navigation"
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Main menu",
        "default": "main-menu"
      },
      {
        "type": "range",
        "id": "dropdown_column_links",
        "label": "Number of drop-down links in first column",
        "min": 5,
        "max": 30,
        "default": 10
      },
      {
        "type": "select",
        "id": "dropdown_position",
        "label": "Drop-down position",
        "default": "below_header",
        "options": [
          {
            "value": "below_parent",
            "label": "Below parent link"
          },
          {
            "value": "below_header",
            "label": "Below header"
          }
        ]
      },
      {
        "type": "select",
        "id": "menu_alignment",
        "label": "Menu alignment",
        "default": "align_left",
        "options": [
          {
            "value": "align_left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "align_right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "range",
        "id": "menu_top_padding",
        "label": "Navigation top padding",
        "info": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/115006910627)",
        "min": 0,
        "max": 30,
        "default": 0,
        "unit": "px"
      },
      {
        "type": "checkbox",
        "id": "search_enabled",
        "label": "Show search",
        "default": true
      },
      {
        "type": "header",
        "content": "Language selector",
        "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
      },
      {
        "type": "checkbox",
        "id": "show_locale_selector",
        "label": "Show language selector",
        "default": true
      },
      {
        "type": "header",
        "content": "Currency selector",
        "info": "To add a currency, go to your [payment settings.](/admin/settings/payments)"
      },
      {
        "type": "checkbox",
        "id": "show_currency_selector",
        "label": "Show currency selector",
        "default": true
      }
    ]
  }
{% endschema %}
