{% if section.settings.image != blank %}
  {%- assign feature_image = true -%}
  {%- assign text_position = section.settings.text_position | split: ' ' -%}

  {% capture banner_text %}
    <div class="container banner__text text-align--{{ text_position[0] }}">
      <div class="banner__inner-text">
        {% if section.settings.display_collection_header_title %}
          <h1 class="headline">{{ 'collections.general.title' | t }}</h1>
        {% endif %}
      </div>
    </div>
  {% endcapture %}

  <div id="banner-{{ section.id }}" class="featured-image--{{ feature_image }}
    darken-image-{{ section.settings.darken_image }}
    mobile-parallax-enabled--{{ settings.enable_mobile_parallax }} mobile-image-crop-enabled--{{ settings.slideshow_images_crop }}">
    {% if section.settings.parallax_effect %}
      <div class="parallax__wrap horizontal-text-position--{{ text_position[0] }} vertical-text-position--{{ text_position[1] }}">
        {{ banner_text }}

        <div class="parallax" data-parallax-image="{{ section.settings.image | img_url: '2048x' }}">
          <noscript>
            <img src="{{ section.settings.image | img_url: '2000x' }}" alt="{{ alt | escape }}" class="image__fallback">
          </noscript>
        </div>

        <img alt
          class="mobile-placeholder-svg"
          src="data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='{{ section.settings.image.width }}'%20height='{{ section.settings.image.height }}'></svg>"/>
      </div>
      {% else %}
        <div class="banner__wrap">
          <div class="banner horizontal-text-position--{{ text_position[0] }} vertical-text-position--{{ text_position[1] }}">
            {{ banner_text }}
          </div>

          {% if section.settings.image != blank %}
            <div class="banner__image-wrapper">
              {% render 'image-element',
                        image: section.settings.image,
                        alt: section.settings.image.alt,
                        stretch_width: true
              %}
            </div>
          {% else %}
            <img src="{{ 'placeholder.svg' | asset_url }}"/>
          {% endif %}
        </div>
      {% endif %}
  </div>
{% endif %}

<section class="section">
  <div class="container {% if section.settings.image == blank %}content{% endif %} main-wrapper">
    {% paginate collections by section.settings.pagination_limit %}
      {%- assign collections_per_row = section.settings.collections_per_row -%}

      {% if section.settings.display_collection_header_title and feature_image == blank %}
        <div class="one-whole column">
          <h1 class="center">{{ 'collections.general.title' | t }}</h1>
          <div class="feature_divider"></div>
        </div>
      {% endif %}

      <div class="one-whole column breadcrumb breadcrumb--text">
        {% if section.settings.collection_breadcrumb %}
          <a href="{{ shop.url }}" title="{{ shop.name | escape }}">{{ 'general.breadcrumbs.home' | t }}</a>
          &nbsp;<span class="icon-arrow-right"></span>
          <a href="{{ routes.collections_url }}" title="{{ 'collections.general.title' | t }}">{{ 'collections.general.title' | t }}</a>
          {% if paginate.pages != 0 %}
            &nbsp;<span class="icon-arrow-right"></span> {{ 'general.breadcrumbs.page' | t: current_page: paginate.current_page, pages: paginate.pages }}
          {% endif %}
        {% endif %}
      </div>

      {% for collection in collections %}
        {% unless collection.handle == 'frontpage' %}
          {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}

          {% if settings.align_height %}
            {% if collection.image %}
              {%- assign collection_image = collection.image -%}
            {% else %}
              {%- assign collection_image = collection.products.first.featured_image -%}
            {% endif %}

            {%- assign collection_height = settings.collection_height | plus: 0 -%}
            {%- assign product_aspect_ratio = collection_image.aspect_ratio | plus: 0 -%}
            {%- assign product_set_width = product_aspect_ratio | times: collection_height -%}

            {% if product.featured_image.width >= product.featured_image.height %}
              {%- assign align_height_value = 'width: 100%; height: auto;' -%}
            {% else %}
              {%- assign align_height_value = 'width: 100%;' -%}
            {% endif %}
          {% endif %}

          <div class="{% render 'column-width', value: collections_per_row %} column {% if settings.mobile_products_per_row == '1' %}medium-down--one-whole{% else %}medium-down--one-half{% endif %} thumbnail">
            <div class="relative product_image">
              <div class="product_container">
                <a href="{{ collection.url }}" title="{{ collection_title }}">
                  <div class="image__container" style="{% if settings.align_height %} max-width: {{ product_set_width }}px; {% else %} max-width: {%- if collection.image -%}{{- collection.image.width -}}{%- else -%}{{- collection.products.first.featured_image.width -}}{%- endif -%}px; {% endif %}">
                    {% if collection.image %}
                      {% render 'image-element',
                              image: collection.image.src,
                              alt: collection.image.alt
                      %}
                    {% else %}
                      {% render 'image-element',
                              image: collection.products.first.featured_image,
                              alt: collection.image.alt
                      %}
                    {% endif %}
                  </div>

                  <div class="info">
                    <span class="title">{{ collection.title }}</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        {% endunless %}
      {% endfor %}

      {% render 'pagination', paginate: paginate %}
    {% endpaginate %}
  </div>
</section>

<style>
  {% if section.settings.parallax_effect %}
    #banner-{{ section.id }} .parallax__wrap,
    #banner-{{ section.id }} .parallax__container .parallax {
      height: {{ section.settings.parallax_image_height }}px;
    }
  {% endif %}

  #banner-{{ section.id }} .parallax__container .parallax {
    background-position: {{ section.settings.image_focal_point}} !important;
  }

  #banner-{{ section.id }} .banner__wrap img {
    object-position: {{ section.settings.image_focal_point }};
    -o-object-position: {{ section.settings.image_focal_point }};
  }

  @media only screen and (max-width: 798px) {
    {% if settings.slideshow_images_crop or section.settings.parallax_effect and settings.enable_mobile_parallax %}
      #banner-{{ section.id }} .banner__wrap,
      #banner-{{ section.id }} .parallax__wrap,
      #banner-{{ section.id }} .parallax__container .parallax {
        height: {{ section.settings.parallax_image_height | divided_by: 2 }}px;
      }
    {% else %}
      #banner-{{ section.id }} .banner__wrap,
      #banner-{{ section.id }} .parallax__wrap {
        height: auto;
      }
    {% endif %}
  }
</style>

{% schema %}
  {
    "name": "Collections",
    "class": "shopify-section--collection-template parallax-banner",
    "settings": [
      {
        "type": "checkbox",
        "id": "display_collection_header_title",
        "label": "Show page title"
      },
      {
        "type": "checkbox",
        "id": "collection_breadcrumb",
        "label": "Show breadcrumb links",
        "default": true
      },
      {
        "type": "header",
        "content": "Collections"
      },
      {
        "type": "range",
        "id": "collections_per_row",
        "label": "Collections per row",
        "min": 2,
        "max": 4,
        "step": 1,
        "default": 3
      },
      {
        "type": "range",
        "id": "pagination_limit",
        "label": "Collections per page",
        "min": 2,
        "max": 50,
        "step": 1,
        "default": 48
      },
      {
        "type": "header",
        "content": "Banner image"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Banner image",
        "info": "1600 x 1000px recommended"
      },
      {
        "type": "select",
        "id": "image_focal_point",
        "label": "Image focal point",
        "info": "Used to keep the subject of your photo in view. On mobile, only applies to cropped images.",
        "default": "center center",
        "options": [
          {
            "value": "20% 0",
            "label": "Top left"
          },
          {
            "value": "top center",
            "label": "Top center"
          },
          {
            "value": "80% 0",
            "label": "Top right"
          },
          {
            "value": "20% 50%",
            "label": "Left"
          },
          {
            "value": "center center",
            "label": "Center"
          },
          {
            "value": "80% 50%",
            "label": "Right"
          },
          {
            "value": "20% 100%",
            "label": "Bottom left"
          },
          {
            "value": "bottom center",
            "label": "Bottom center"
          },
          {
            "value": "80% 100%",
            "label": "Bottom right"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "darken_image",
        "label": "Darken banner image",
        "default": false
      },
      {
        "type": "select",
        "id": "text_position",
        "label": "Text position",
        "default": "center center",
        "options": [
          {
            "value": "left top",
            "label": "Top left"
          },
          {
            "value": "center top",
            "label": "Top center"
          },
          {
            "value": "right top",
            "label": "Top right"
          },
          {
            "value": "left center",
            "label": "Left"
          },
          {
            "value": "center center",
            "label": "Center"
          },
          {
            "value": "right center",
            "label": "Right"
          },
          {
            "value": "left bottom",
            "label": "Bottom left"
          },
          {
            "value": "center bottom",
            "label": "Bottom center"
          },
          {
            "value": "right bottom",
            "label": "Bottom right"
          }
        ]
      },
      {
        "type": "header",
        "content": "Parallax"
      },
      {
        "type": "checkbox",
        "id": "parallax_effect",
        "label": "Enable parallax scrolling",
        "default": true
      },
      {
        "type": "range",
        "id": "parallax_image_height",
        "label": "Parallax section height",
        "min": 300,
        "max": 1000,
        "step": 20,
        "default": 400,
        "unit": "px"
      }
    ]
  }
{% endschema %}
